<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Agency Details</h1>
    <p class="mb-4">Agency owned buses</p>

    <!--<editor-fold desc="Table Bus">-->

    <div class="row">
        <div class="col-md-5">
            <div class="card" style="">
                <img class="card-img-top"
                     src="https://awsimages.detik.net.id/visual/2020/01/06/e65a3d76-98fa-4c35-a082-b0480c00637c_169.jpeg?w=360&q=90"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" id="agency-name">{{name}}</h5>
                    <p class="card-text">ASD-12312-123</p>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Agency Name</label>
                            <input type="text" class="form-control" id="name"
                                   placeholder="name" [(ngModel)]="agency.name">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Agency Details</label>
                            <input type="text" class="form-control" id="details"
                                   placeholder="details" [(ngModel)]="agency.details">
                        </div>
                        <button (click)="updateAgency()" class="btn btn-primary">Update</button>
                </div>

            </div>
        </div>
        <div></div>
    </div>

    <!--</editor-fold>-->

</div>
<!-- /.container-fluid -->

